<div class="min-vh-100 d-flex align-items-center">
    <div class="container-fluid px-4">
        <div class="row justify-content-center">
            <div class="col-lg-11">
                <div class="panel border bg-white">
                    <div class="panel-heading d-flex justify-content-between align-items-center">
                        <h3 class="pt-3 font-weight-bold">Order Details</h3>
                    </div>
                    
                    <div class="panel-body p-3" *ngIf="orderData">
                        <div class="row">
                            <div class="col-lg-5">
                                <div class="info-block">
                                    <div class="block-header">
                                        <i class="fa fa-info-circle"></i>
                                        <span>Order Information</span>
                                    </div>
                                    <div class="block-content">
                                        <div class="input-field">
                                            <span class="fa fa-hashtag p-2"></span>
                                            <span>Order #{{ orderData.orderNumber }}</span>
                                        </div>
                                        <div class="input-field">
                                            <span class="fa fa-calendar p-2"></span>
                                            <span>Estimated Delivery: {{ orderData.estimatedDelivery | date:'medium' }}</span>
                                        </div>
                                    </div>
                                </div>

                                <!-- Package Details -->
                                <div class="info-block">
                                    <div class="block-header">
                                        <i class="fa fa-box"></i>
                                        <span>Package Details</span>
                                    </div>
                                    <div class="block-content">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <div class="input-field">
                                                    <span class="fa fa-weight-hanging p-2"></span>
                                                    <span>Weight: {{ orderData.package.weightKg }} kg</span>
                                                </div>
                                            </div>
                                            <div class="col-md-7">
                                                <div class="input-field">
                                                    <span class="fa fa-ruler-combined p-2"></span>
                                                    <span>Dimensions: {{ orderData.package.widthCm }} × {{ orderData.package.heightCm }} × {{ orderData.package.depthCm }} cm</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="info-block">
                                    <div class="block-header">
                                        <i class="fa fa-user"></i>
                                        <span>Sender Information</span>
                                    </div>
                                    <div class="block-content">
                                        <div class="input-field">
                                            <span class="fa fa-user p-2"></span>
                                            <span>{{ orderData.sender.firstName }} {{ orderData.sender.lastName }}</span>
                                        </div>
                                        <div class="input-field">
                                            <span class="fa fa-phone p-2"></span>
                                            <span>{{ orderData.sender.phoneNumber }}</span>
                                        </div>
                                        <div class="input-field">
                                            <span class="fa fa-map-marker-alt p-2"></span>
                                            <span>{{ senderFullAddress }}</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="info-block">
                                    <div class="block-header">
                                        <i class="fa fa-user"></i>
                                        <span>Recipient Information</span>
                                    </div>
                                    <div class="block-content">
                                        <div class="input-field">
                                            <span class="fa fa-user p-2"></span>
                                            <span>{{ orderData.recipient.firstName }} {{ orderData.recipient.lastName }}</span>
                                        </div>
                                        <div class="input-field">
                                            <span class="fa fa-phone p-2"></span>
                                            <span>{{ orderData.recipient.phoneNumber }}</span>
                                        </div>
                                        <div class="input-field">
                                            <span class="fa fa-map-marker-alt p-2"></span>
                                            <span>{{ recipientFullAddress }}</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="info-block">
                                    <div class="block-header">
                                        <i class="fa fa-history"></i>
                                        <span>Order Status</span>
                                    </div>
                                    <div class="block-content">
                                        <div class="timeline">
                                            <div *ngFor="let status of orderData.orderStatuses" class="timeline-item">
                                                <div class="timeline-date">
                                                    {{ status.dateIn | date:'medium' }}
                                                </div>
                                                <div class="timeline-content">
                                                    {{ getStatusDisplayName(status.status) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-7">
                                <div class="info-block h-100">
                                    <div class="block-header">
                                        <i class="fa fa-map-marked-alt"></i>
                                        <span>Delivery Route</span>
                                    </div>
                                    <div *ngIf="routeData" class="block-content h-100">
                                        <div class="map-container" *ngIf="routeData">
                                            <app-map
                                                [graphData]="routeData"
                                                [mapHeight]="'1100px'"
                                                [showAllNode]="false"
                                                [terminalNodes]="terminalNodes"
                                                [robotLocation]="robotLocation">
                                            </app-map>
                                        </div>
                                    </div>
                                    <div class="route-info-block" *ngIf="!routeData">
                                        <p>Route data is available while order in 'Moving to Pickup Point' or 'Moving to Delivery Point' status.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 