<div class="min-vh-100 d-flex align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10">
                <div class="panel border bg-white">
                    <div class="panel-heading">
                        <h3 class="pt-3 font-weight-bold">Creating order</h3>
                    </div>
                    
                    <div class="panel-body p-3">
                        <form [formGroup]="createOrderForm" (ngSubmit)="onSubmit()">
                            <div class="form-group pt-3">
                                <div class="input-field" [class.error]="showInputValidation('phone')">
                                    <span class="fa fa-user p-2"></span>
                                    <input 
                                        formControlName="phone" 
                                        type="tel" 
                                        (input)="onPhoneInput()"
                                        pattern="\+380 \(\d{2}\) \d{3}-\d{2}-\d{2}"
                                        placeholder="Recipient phone number"
                                    >
                                </div>
                                <small *ngIf="showInputValidation('phone')" class="text-danger">
                                    *Recipient phone number is required
                                </small>
                            </div>

                            <div class="form-group pt-3">
                                <div class="input-field" [class.error]="showInputValidation('weight')">
                                    <span class="fa fa-weight-hanging p-2"></span>
                                    <input 
                                        formControlName="weight" 
                                        type="number" 
                                        placeholder="Enter weight (kg)"
                                    >
                                </div>
                                <small *ngIf="showInputValidation('weight')" class="text-danger">
                                    *Weight is required and must be greater than 0.1 kg
                                </small>
                            </div>

                            <div class="form-group pt-3">
                                <label>
                                    <span class="fa fa-ruler-combined p-2 form-label"></span>
                                    Dimensions (cm)
                                </label>
                                <div class="d-flex align-items-center">
                                    <div class="input-field w-25" [class.error]="showInputValidation('width')">
                                        <input 
                                            formControlName="width" 
                                            type="number" 
                                            placeholder="W"
                                            class="text-center"
                                        >
                                    </div>
                                    <span class="mx-2">×</span>
                                    <div class="input-field w-25" [class.error]="showInputValidation('height')">
                                        <input 
                                            formControlName="height" 
                                            type="number" 
                                            placeholder="H"
                                            class="text-center"
                                        >
                                    </div>
                                    <span class="mx-2">×</span>
                                    <div class="input-field w-25" [class.error]="showInputValidation('depth')">
                                        <input 
                                            formControlName="depth" 
                                            type="number" 
                                            placeholder="D"
                                            class="text-center"
                                        >
                                    </div>
                                </div>
                                <small *ngIf="showInputValidation('width') || showInputValidation('height') || showInputValidation('depth')" class="text-danger">
                                    *All dimensions are required and must be greater than 1 cm
                                </small>
                            </div>

                            <div class="form-group pt-3">
                                <app-map
                                    [enableMapSearch]="true"
                                    (addressesChange)="onAddressesChange($event)">
                                </app-map>
                                <small *ngIf="showInputValidation('pickupAddress')" class="text-danger">
                                    *Pickup location is required
                                </small>
                                <small *ngIf="showInputValidation('deliveryAddress')" class="text-danger">
                                    *Delivery location is required
                                </small>
                            </div>

                            <div class="form-group text-center mt-2">
                                <button type="submit" class="btn btn-primary p-2 w-100">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>